In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [4]:
df_fake= pd.read_csv("Fake.csv")
df_true= pd.read_csv("True.csv")

In [4]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
 df_fake['class']= 0
df_true['class']= 1

In [7]:
df_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [10]:
df_fake.shape,

((23481, 5),)

In [11]:
df_true.shape

(21417, 5)

In [6]:
df_fake_manual_testing= df_fake.tail(10)
for i in range(23480, 23470,-1):
    df_fake.drop([i], axis=0, inplace= True)


df_true_manual_testing= df_true.tail(10)
for i in range(21416, 21406,-1):
    df_true.drop([i], axis=0, inplace= True)

In [14]:
#checking whether 10 rows have been deleted
df_true.shape

(21407, 5)

In [15]:
df_fake.shape

(23471, 5)

In [16]:
df_fake_manual_testing.head()

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0

In [17]:
df_true_manual_testing.head()

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1

In [7]:
df= pd.concat([df_fake, df_true], axis=0)

In [19]:
df.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [20]:
df.tail()

,title,text,subject,date,class
21402,Exclusive: Trump's Afghan decision may increas...,ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...,worldnews,"August 22, 2017",1
21403,U.S. puts more pressure on Pakistan to help wi...,WASHINGTON (Reuters) - The United States sugge...,worldnews,"August 21, 2017",1
21404,Exclusive: U.S. to withhold up to $290 million...,WASHINGTON (Reuters) - The United States has d...,worldnews,"August 22, 2017",1
21405,Trump talks tough on Pakistan's 'terrorist' ha...,ISLAMABAD (Reuters) - Outlining a new strategy...,worldnews,"August 22, 2017",1
21406,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1

In [21]:
df.shape

(44878, 5)

In [22]:
df.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [23]:
df= df.drop(['title', 'subject', 'date'], axis=1)

In [24]:
df.head()

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [25]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [8]:
df= df.sample(frac=1)

In [28]:
df.head()

                                                    text  class
20395  Oh look Hillary s considering a lying, opportu...      0
4280   Well, he said it. Trump s fans have long been ...      0
20360  This is the same Muslim mayor who recently ban...      0
11093  (Reuters) - U.S. Democratic presidential candi...      1
4372   CAIRO (Reuters) - Jordan said on Friday a U.S....      1

In [9]:
df.reset_index(inplace=True)

In [30]:
df.head()

   index                                               text  class
0  20395  Oh look Hillary s considering a lying, opportu...      0
1   4280  Well, he said it. Trump s fans have long been ...      0
2  20360  This is the same Muslim mayor who recently ban...      0
3  11093  (Reuters) - U.S. Democratic presidential candi...      1
4   4372  CAIRO (Reuters) - Jordan said on Friday a U.S....      1

In [10]:
df.drop(['index'], axis=1)

,title,text,subject,date,class
0,HOW IS IT RACIST To Want Closed Borders And Pr...,This is war and it s a fight for the SOVEREIGN...,politics,"Mar 12, 2016",0
1,#WarOnChristmas: Starbucks Attempts To Capital...,War on Christmas update: Some very clever peop...,politics,"Nov 9, 2015",0
2,Nigeria replaces commander in fight against Bo...,"MAIDUGURI, Nigeria (Reuters) - Nigeria is repl...",worldnews,"December 6, 2017",1
3,President Trump appoints Homan acting director...,(Reuters) - U.S. President Donald Trump on Mon...,politicsNews,"January 31, 2017",1
4,Kenya election board head: elections will go a...,NAIROBI (Reuters) - Kenya s repeat presidentia...,worldnews,"October 25, 2017",1
...,...,...,...,...,...
44873,Trump Just Got WRECKED By Chelsea Clinton Ove...,Anyone who has been to grade school is fully a...,News,"May 1, 2017",0
44874,U.S. treads water on cyber policy as destructi...,SAN FRANCISCO (Reuters) - The Trump administra...,politicsNews,"July 26, 2017",1
44875,New Bill Gates AI-powered ‘Evolv’ Body Scanner...,Beta testing set to begin at transportation hu...,Middle-east,"October 27, 2016",0
44876,October Tease: Wikileaks False Start Leaves Tr...,21st Century Wire says This was one of the mos...,Middle-east,"October 4, 2016",0
44877,You Really Don’t Want To Miss Trump Talking A...,If you ve never watched Donald Trump read off ...,News,"August 8, 2016",0

In [11]:

#word processing
def wordopt(text):
    text = text.lower()
    text = re.sub(r'\[.*\]', '', text)
    text = re.sub('\W', " ", text)
    text = re.sub('https?://\S+|www.\S+', '', text)
    text = re.sub('<.*?>', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

df['text'] = df['text'].apply(wordopt)

In [12]:
X= df['text']
y= df['class']

In [14]:
X

0        this is war and it s a fight for the sovereign...
1        war on christmas update  some very clever peop...
2        maiduguri  nigeria  reuters    nigeria is repl...
3         reuters    u s  president donald trump on mon...
4        nairobi  reuters    kenya s repeat presidentia...
                               ...
44873    anyone who has been to grade school is fully a...
44874    san francisco  reuters    the trump administra...
44875    beta testing set to begin at transportation hu...
44876     century wire says this was one of the most ea...
44877    if you ve never watched donald trump read off ...
Name: text, Length: 44878, dtype: object

In [40]:
y

0        0
1        0
2        0
3        1
4        1
        ..
44873    0
44874    0
44875    1
44876    0
44877    0
Name: class, Length: 44878, dtype: int64

In [15]:
X_train, X_test,y_train, y_test= train_test_split(X,y,test_size=0.2, random_state=1)

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(X_train)
xv_test = vectorization.transform(X_test)  # Use transform instead of fit_transform for test data

In [17]:
#Regression model
from sklearn.linear_model import LogisticRegression
reg= LogisticRegression()
reg.fit(xv_train, y_train)

LogisticRegression()

In [18]:
pred_reg= reg.predict(xv_test)

In [48]:
reg.score(xv_test,y_test)

0.9870766488413547

In [50]:
print(classification_report(y_test, pred_reg))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      4681
           1       0.98      0.99      0.99      4295

    accuracy                           0.99      8976
   macro avg       0.99      0.99      0.99      8976
weighted avg       0.99      0.99      0.99      8976

In [51]:
#decision tree classifier
from sklearn.tree import DecisionTreeClassifier
dt_clf= DecisionTreeClassifier()
dt_clf.fit(xv_train, y_train)

DecisionTreeClassifier()

In [52]:
pred_dt= dt_clf.predict(xv_test)

In [53]:
dt_clf.score(xv_test, y_test)

0.9953208556149733

In [54]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4681
           1       1.00      1.00      1.00      4295

    accuracy                           1.00      8976
   macro avg       1.00      1.00      1.00      8976
weighted avg       1.00      1.00      1.00      8976

In [55]:
# GRADIENT BOOST
from sklearn.ensemble import GradientBoostingClassifier
gb=GradientBoostingClassifier()
gb.fit(xv_train, y_train)

GradientBoostingClassifier()

In [56]:
gb_pred= gb.predict(xv_test)

In [59]:
gb.score(xv_test, y_test)

0.9953208556149733

In [63]:
print(classification_report(y_test, gb_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      4681
           1       0.99      1.00      1.00      4295

    accuracy                           1.00      8976
   macro avg       1.00      1.00      1.00      8976
weighted avg       1.00      1.00      1.00      8976

In [ ]:
#best model is decision tree classifier

In [1]:
import pandas as pd  # Make sure to import pandas if not already imported

def output_label(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "True News"

def manual_testing(news):
    testing_news = {"text": [news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_dt = dt_clf.predict(new_xv_test)
    gb_pred= gb.predict(new_xv_test)
    return print("\n\nDecision Tree Prediction: " + output_label(pred_dt[0]) + ", Gradient Boost Prediction: " + output_label(gb_pred[0]))

In [2]:
news= str(input())
manual_testing(news)

 The networks had received legal threats from Smartmatic, a voting technology company targeted by fraud allegations.  President Donald Trump's team have used unfounded claims about voting machines in a bid to overturn his defeat.  Members of his team appeared repeatedly on the channels to push the theory.  ADVERTISEMENT  Fox News ran a two-minute fact-check in the form of questions and answers on three different programmes on Saturday which denied allegations of manipulation or fraud by the two companies.

NameError: name 'wordopt' is not defined